section
  h1 Grails Multitenancy

section
  img.medium(src="../../../resources/images/grails.jpeg")
  h3 Grails Multi Tenancy
  ul
    li Super slick opinionated Spring config
    li GORM -&nbsp;
      a(href="http://gorm.grails.org/latest/hibernate/manual/index.html#whereQueries", target="_blank") Grails Object Relational Mapping
  pre.
    <code class="groovy" data-trim data-noescape contentEditable>def query = Person.where {
       firstName == "Bart"
    }
    Person bart = query.find()
    </code>

section
  h3 Grails Coolness
  p Easy to read&nbsp;
    a(href="http://guides.grails.org/database-per-tenant/guide/index.html", target="_blank") Grails Multitenant Docs
  ul
    li @CurrentTenant
    li MultiTenant trait
      ul
        li eachTenant{} closure
        li withTenant{} closure
