section
  h1 Multitenancy

section
  h3 Multitenancy
  ul
    li Serving Multiple Clients from One App
    li Isolated View of Data per client
  img.larger(src="../../../resources/images/multitenant.png")
  br
  a(href="http://www.jesusgilhernandez.com/wp-content/uploads/2012/12/singletenant-multitenant.png", target="_blank").citation http://www.jesusgilhernandez.com/wp-content/uploads/2012/12/singletenant-multitenant.png

section
  h2 Vital for Cloud Hosting
  ul
    li Salesforce
    li Amegala
    li Slack
    li Trello / BasecampHQ / Asana
    li Hosted JIRA

section
  img.large(src="../../../resources/images/cloud.png")
  br
  a(href="https://www.stickermule.com/marketplace/3442-there-is-no-cloud", target="_blank").citation https://www.stickermule.com/marketplace/3442-there-is-no-cloud

section
  h3 Cloud Multitenancy
  ul.no-bullets
    li Infrastructure as a Service (IaaS)
    li Platform as a Service (PaaS)
    li Software as a Service (SaaS)

section
  img(src="../../../resources/images/cloud-types.png")

section
  h3 Infrastructure as a Service (IaaS)
  ul
    li Shared Provider
    li VM / server per tenant
    li Separate DB, App Server, CPU, Memory, entire stack
    li Very custom per client, but very hard to maintain

section
  h3 Platform as a Service (PaaS)
  ul
    li Shared Hardware / CPU / Memory
    li App Server per tenant
    li Every client has own running App Server
    li Source Control Versioning of Deployments is difficult!

section
  h3 Software as a Service (SaaS)
  ul
    li Shared App Server
    li Data partitioned per tenant
    li Different ways to isolate the data
    li All tenants on same version of software
    li Still concerns with data migration maintenance

section
  h3 SaaS Techniques
  p 3 Ways to handle Data Isolation
  ul
    li DB per tenant
    li Schema per tenant
    li Table discriminator column

section
  img.fill(src="../../../resources/images/grails-db.png")
  br
  a(href="http://guides.grails.org/database-per-tenant/guide/index.html", target="_blank").citation http://guides.grails.org/database-per-tenant/guide/index.html

section
  img.large(src="../../../resources/images/apartment-schema.png")
  br
  a(href="https://influitive.io/our-multi-tenancy-journey-with-postgres-schemas-and-apartment-6ecda151a21f", target="_blank").citation https://influitive.io/our-multi-tenancy-journey-with-postgres-schemas-and-apartment-6ecda151a21f

section
  h3 DB per tenant
  ul
    li Highest isolation level
    li Every tenant has separate database
    li App needs to change database connection to switch tenants
    li Tough to scale

section
  h3 Schema per tenant
  ul
    li Similar to separate DB
    li Every tenant has own schema in the shared DB
    li App needs to `set schema` to switch tenants
    li This is the approach that we will discuss today

section
  h3 Table discriminator column
  ul
    li All data in shared tables
    li Each table has a `tenant_id` column
    li Code needs to be written carefully
    li Easiest to scale, but risky for clients to see other clients data


