section
  h1 Useful Tools

section
  img(src="../../../resources/images/mariadb.png")
  h3 MariaDB4j
  ul
    li
      a(href="https://mariadb.org/", target="_blank") MariaDB
      |  is the new open source MySQL
    li
      a(href="https://github.com/vorburger/MariaDB4j", target="_blank") MariaDB4j
      |  is a Java/Spring wrapper
    li Embedded database for local and CI tests
    li Similar to H2 but uses MariaDB
    li Spins up DB at Boot Startup

section
  h2 MariaDB4j - Pros
  ul
    li Can persist db to filesystem for local development
    li Creates clean db for every test run, then destroys it
    li Eliminates need to install MariaDB locally
    li SQL migrations locally to better match than H2

section
  h2 MariaDB4j - Cons
  ul
    li Slower startup than H2 - 30 seconds or so
    li Have to run local server to connect with DB Tools

section
  h2 MariaDB4j
  pre.small.
    <code class="groovy" data-trim data-noescape>  @Configuration
      @Profile(['local', 'integrationTest'])
      class EmbeddedMariaDbConfig {

      @Bean MariaDB4jSpringService mariaDB4jSpringService() {
        new MariaDB4jSpringService() }

      @Bean DataSource dataSource(
      MariaDB4jSpringService mariaDB4jSpringService,
      @Value('${mariaDB4j.databaseName}') String databaseName,
      @Value('${spring.datasource.username}') String datasourceUsername,
      @Value('${spring.datasource.password}') String datasourcePassword,
      @Value('${spring.datasource.driver-class-name}') String datasourceDriver) {
          mariaDB4jSpringService.getDB().createDB(databaseName)

          DBConfigurationBuilder config = mariaDB4jSpringService.getConfiguration()
          DataSourceBuilder.create()
            .username(datasourceUsername).password(datasourcePassword)
            .url(config.getURL(databaseName))
            .driverClassName(datasourceDriver).build()
        }
      }
    </code>


section
  img.medium(src="../../../resources/images/grails.jpeg")
  h3 Grails Multi Tenancy
  ul
    li Super slick opinionated Spring config
    li GORM -&nbsp;
      a(href="http://gorm.grails.org/latest/hibernate/manual/index.html#whereQueries", target="_blank") Grails Object Relational Mapping
    li Easy to read&nbsp;
      a(href="http://guides.grails.org/database-per-tenant/guide/index.html", target="_blank") Grails Multitenant Docs

section
  h3 Grails Coolness
  p Helpers for dealing with common and tenant schemas
  ul
    li @CurrentTenant
    li MultiTenant trait
      ul
        li eachTenant{} closure
        li withTenant{} closure
