section
  h1 The Project

section
  img.medium(src="../../../resources/images/boot-logo.png")
  h3 The Project
  ul
    li The Project
    li Visualize my watering data compared to actual weather conditions
    li Rachio smart sprinkler
    li Google Spreadsheet to hold data
    li IFTTT.com (If This Then That)
    li DarkSky weather API - historical actuals
