section
  h1 Other Thoughts

section
  h2 Other Thoughts
  ul
    li Security - Auth0/Okta
    li Messaging/Streaming
    li Storage/databases
    li IoT

section
  img(src="../../../resources/images/auth0.png")
  ul
    li A cloud identity provider, like Auth0 can help
    li Auth0 handles authentication credentials
    ul
      li And OAuth connections to Google, Facebook, etc
    li Stores user attributes as simple JSON
