section
  h1 Serverless Smallprint

section
  h3 Lambda Cold-start Time
  ul
    li Once "warm"
    li Cold-start time 2-3 seconds
    li Varies by Language and Vendor
    li Great article from @MikhailShilkov
      br
      a(href="https://mikhail.io/2018/08/serverless-cold-start-war/" target="_blank") Serverless: Cold Start War

section
  a(href="https://mikhail.io/2018/08/serverless-cold-start-war/" target="_blank").citation https://mikhail.io/2018/08/serverless-cold-start-war/
  br
  img(src="../../../resources/images/coldstart-per-language.png")

section
  img.largeheight(src="../../../resources/images/coldstart-dependencies.png")
  br
  a(href="https://mikhail.io/2018/08/serverless-cold-start-war/" target="_blank").citation https://mikhail.io/2018/08/serverless-cold-start-war/

section
  h3 Pricing
  ul
    li Complicated to forecast
    li Always cheap/free to start
    li Generally cheap/affordable until gone viral
    li Paying for convenience, scalability, etc
  img.venti(src="https://media.giphy.com/media/VerIk7pS3iEEg/giphy.gif")
  br
  a(href="https://media.giphy.com/media/VerIk7pS3iEEg/giphy.gif" target="_blank").citation https://media.giphy.com/media/VerIk7pS3iEEg/giphy.gif

section
  h3 What would I improve?
  ul
    li Rachio API push to Kinesis and store in AWS
    li Store weather each day after watering
    li Separate Lambda for Sheets & DarkSky
    li PWA - Backups of API calls, just in case network dies
    li Lambda API Key to limit usage
    li CircleCI Build/Deploy on git commits