section
    img.medium(src="../../../resources/images/github-logo.png")
    h3 These slides are up on GitHub
    a(href="https://jeffsheets.github.io/aws-vue/", target="_blank") jeffsheets.github.io/aws-vue

section
    h2 AWS Serverless for Devs
    h3 Vue + Micronaut
    ul
        li What/Why/How of Serverless
        li The Project - Grachio
        li AWS Lambda w/ Micronaut
        li Vue.js on AWS S3
        li Please ask questions! Open discussion
        | Everyone in this room is an expert!

section
    h2 About Me - Jeff Sheets
    ul.no-bullets
        li I like Groovy and Javascript and Coffee
        li
            img.tiny(src="../../../resources/images/twitter-logo.png")
            a(href="https://twitter.com/sheetsj", target="_blank") @sheetsj
            |  |
            a(href="http://sheetsj.com/", target="_blank")  sheetsj.com
        li jeffsheets@gmail.com
        li Omaha Java Users Group board member
        li.center
            img.small(src="../../../resources/images/lincoln-high.jpeg")
            img.small(src="../../../resources/images/huskers.png")
            img(src="../../../resources/images/techomaha.png")

section
    img(src="../../../resources/images/2015-OPI-Logo-Long.png")
    ul.no-bullets
        li APIs, Frontend, Mobile, DevOps, Realtime Data
        li ~110 Senior Consultants
            ul
                li Omaha, Minneapolis
                li Des Moines, Chicago
                li Average Tenure Over 5 years
        li Founded 1996
        li Clients from Fortune 500 to Startups
        li
            a(href="https://objectpartners.com" target="_blank") ObjectPartners.com
            | &nbsp; |
            img.tiny(src="../../../resources/images/twitter-logo.png")
            a(href="https://twitter.com/objectpartners" target="_blank") @objectpartners

