section
    img.medium(src="../../../resources/images/github-logo.png")
    h3 These slides are up on GitHub
    a(href="https://jeffsheets.github.io/spring-boot-multitenant/", target="_blank") jeffsheets.github.io/spring-boot-multitenant

section
    h2 Architecting Multitenancy
    ul
        li What/Why/How of Multitenancy
        li Spring Boot / Hibernate Setup
        li FlywayDB & MariaDB4j
        li Multitenancy Tips
        li Grails
        li Please ask questions! Open discussion
        | Everyone in this room is an expert!

section
    h2 About Me - Jeff Sheets
    ul.no-bullets
        li I like Groovy/Java/Javascript and Coffee
        li
            img.tiny(src="../../../resources/images/twitter-logo.png")
            a(href="https://twitter.com/sheetsj", target="_blank") @sheetsj
            |  |
            a(href="http://sheetsj.com/", target="_blank")  sheetsj.com
        li jeffsheets@gmail.com
        li Omaha Java Users Group board member
        li.center
            img.small(src="../../../resources/images/lincoln-high.jpeg")
            img.small(src="../../../resources/images/huskers.png")
            img(src="../../../resources/images/techomaha.png")

section
    img.medium(src="../../../resources/images/opi-logo.png")
    h3 Object Partners
    ul.no-bullets
        li Java, Groovy, JavaScript, Mobile, DevOps
        li ~100 Senior Consultants
            ul
                li Omaha, Minneapolis
                li Average Tenure Over 5 years
        li Founded 1996
        li Clients from Fortune 500 to Startups

