section
    img.medium(src="../../../resources/images/github-logo.png")
    h3 These slides are up on GitHub
    a(href="https://jeffsheets.github.io/spring-boot-multitenant/", target="_blank") jeffsheets.github.io/spring-boot-multitenant

section
    h2 Talk Objectives
    ul
        li What/Why/How of Multi-Tenancy
        li Spring Boot / Hibernate techniques
        li Multi-Tenancy Gotchas
        li Helpful Tools
        li Please ask questions! Open discussion
        | Everyone in this room is an expert!

section
    h2 About Me - Jeff Sheets
    ul.no-bullets
        li Groovy/Java/Javascript for Object Partners
        li
            img.tiny(src="../../../resources/images/twitter-logo.png")
            a(href="https://twitter.com/sheetsj", target="_blank") @sheetsj
        li
            a(href="http://sheetsj.com/", target="_blank") sheetsj.com
        li jeffsheets@gmail.com
        li Omaha

section
    img.medium(src="../../../resources/images/opi-logo.png")
    h3 Object Partners
    ul.no-bullets
        li Java, Groovy, JavaScript, Mobile, DevOps
        li ~100 Senior Consultants
            ul
                li Omaha, Minneapolis
                li Average Tenure Over 5 years
        li Founded 1996
