section
  h1 Serverless

section
  h3 As Dev, Why Serverless?
  ul
    li We don't like managing servers
    li We like easy, push button, done
  br
  img(src="https://media.giphy.com/media/Rl9Yqavfj2Ula/giphy.gif")
  br
  a(href="https://media.giphy.com/media/Rl9Yqavfj2Ula/giphy.gif", target="blank").citation https://media.giphy.com/media/Rl9Yqavfj2Ula/giphy.gif

section
  h3 Focus & Speed
  ul
    li Focus on code not infrastructure
    li Stand up and tear down in minutes
    li Provision new environments quickly

section
  h3 Software > Hardware (right?)
  img(src="https://media.giphy.com/media/RhEvCHIeZAZ6E/giphy.gif")
  br
  a(href="https://media.giphy.com/media/RhEvCHIeZAZ6E/giphy.gif", target="_blank").citation https://media.giphy.com/media/RhEvCHIeZAZ6E/giphy.gif

section
  img.large(src="../../../resources/images/cloud.png")
  br
  a(href="https://www.stickermule.com/marketplace/3442-there-is-no-cloud", target="_blank").citation https://www.stickermule.com/marketplace/3442-there-is-no-cloud

section
  h3 Cloud Services
  ul.no-bullets
    li Infrastructure as a Service (IaaS) - AWS
    li Platform as a Service (PaaS) - Elastic Beanstalk
    li Function as a Service (FaaS) - Lambda
    li Software as a Service (SaaS) - Google Docs

section
  h2 AWS Services
  img.medium(src="../../../resources/images/lego.jpg")
  h3 Lego-blocks for Developers...
  ul
    li S3, Cloudfront
    li EC2, Lambda
    li SQS, SNS
    li Cloudwatch

section
  h3 Let's build something!
  img(src="https://media.giphy.com/media/3ZALZoBtI1KJa/giphy.gif")
  br
  a(href="https://giphy.com/gifs/motion-stop-build-3ZALZoBtI1KJa", target="_blank").citation https://giphy.com/gifs/motion-stop-build-3ZALZoBtI1KJa

