section
  h1 Serverless

section
  h3 As Dev, Why Serverless?
  ul
    li We don't like managing servers
    li We like easy, push button, done
    li Focus on code not infrastructure

section
  h2 AWS Services
  h3 Lego-blocks for Developers...
  ul
    li S3, Cloudfront
    li ECS, Lambda
    li SQS, SNS
    li Cloudwatch

section
  img.large(src="../../../resources/images/cloud.png")
  br
  a(href="https://www.stickermule.com/marketplace/3442-there-is-no-cloud", target="_blank").citation https://www.stickermule.com/marketplace/3442-there-is-no-cloud

section
  h3 Cloud Services
  ul.no-bullets
    li Infrastructure as a Service (IaaS) - AWS
    li Platform as a Service (PaaS) - Elastic Beanstalk
    li Function as a Service (FaaS) - Lambda
    li Software as a Service (SaaS) - Google Docs


