section
  h1 Vue.js on AWS S3

section
  h2 Static Site
  ul
    li Vue, React, Angular, Ember, etc
    li Webpack bundler
    li Deploy as just files

section
  h2 Deploy Static Site
  ul
    li AWS S3 bucket w/ Cloudfront CDN
    li Surge.sh
    li Netlify
    li Github pages

section
  h3 AWS S3 Config
  img(src="../../../resources/images/s3-config.png")

section
  img(src="../../../resources/images/vue.png")
  h3 Vue.js
  ul
    li Created by a former Angular developer
    li Not backed by Facebook/Google
    li In my opinion, simpler, and easier to learn

section
  h3 Vue CLI
  ul
    li Like Create-React-App or Ember CLI
    li All-in-one Vue + Webpack + Plugins
    li We will deploy with Vue CLI S3 Deploy plugin

section
  h3 Vue Create Options
  img(src="../../../resources/images/vue-create-options.png")

section
  h3 Vue CLI Selections
  img(src="../../../resources/images/vue-cli-selections.png")

section
  h4 Vue Sample
  pre.
    <code class="html" contentEditable>&lt;template>
      &lt;div v-if="!grachio">Loading...&lt;/div>
      &lt;div v-else>
        &lt;table class="pure-table pure-table-horizontal">
          &lt;thead>
            &lt;tr>
              &lt;th>Date&lt;/th>
              &lt;th>Water Minutes&lt;/th>
              &lt;th>High Feels Like&lt;/th>
              &lt;th>High Temp&lt;/th>
              &lt;th>Low Temp&lt;/th>
              &lt;th>&nbsp;&lt;/th>
              &lt;th>Summary&lt;/th>
            &lt;/tr>
          &lt;/thead>
          &lt;tbody>
            &lt;GrachioRow v-for="row in grachio.rachioData" :key="row.date" :row="row"/>
          &lt;/tbody>
        &lt;/table>
      &lt;/div>
    &lt;/template>
    
    &lt;script>
    import GrachioRow from "./GrachioRow";
    export default {
      name: "GrachioDisplay",
      components: { GrachioRow },
      props: {
        grachio: {
          type: Object,
          default: () => null
        }
      }
    };
    &lt;/script>
    
    &lt;style scoped lang="less">
    table {
      margin: 0 auto;
      thead {
        background-color: lighten(#42b983, 30%);
        th {
          text-align: center;
        }
      }
      tbody {
        tr:nth-child(odd) {
          background-color: lighten(#42b983, 45%);
        }
      }
    }
    &lt;/style>

    </code>

section
  h3 Vue.js Highlights
  ul
    li Single file to hold Template, Script, Style
    li Props, Data, Computed
    li Watch data changes

section
  img(src="../../../resources/images/vue.png")
  h3 What I like about Vue.js
  ul
    li Templates feel like Angular
    li Javascript feels like React
    li Watching data feels like Ember
    li The community is amazing
  aside.notes Keep It Simple

section
  h3 Vue Deploy S3 - Setup
  img(src="../../../resources/images/vue-cli-deploy-s3.png")

section
  h3 Vue.js + S3 Demo time!