section
  h1 Multi Tenancy Gotchas

section
  h2 Common Schema
  ul
    li blah blah blah

section
  h2 Data Migrations
  ul
    li blah blah blah

section
  h2 Client Specific Data Loads
  ul
    li blah blah blah

section
  h2 Users per client
  ul
    li blah blah blah

section
  h3 Multi Tenant DB calls in same session
  ul
    li blah blah blah

section
  h3 Duplicate Record Ids on each DB
  ul
    li blah blah blah
