#slide-root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.reveal {

  ul {
    &.no-bullets {
      list-style-type: none;
    }
    ul li {
      margin-left:35px;
    }
  }

  section {
    .wide {
      width: 100%;
    }

    img {
      background: unset;
      border: unset;
      box-shadow: unset;

      &.tiny {
        height: 40px;
        width: 40px;
        margin: auto 10px;
        vertical-align: text-bottom;
      }

      &.small {
        height: 100px;
        width: 100px;
      }

      &.medium {
        height: 200px;
        width: 200px;
      }

      &.large {
        height: 600px;
        width: 600px;
      }

      &.larger {
        height: 125%;
        width: 125%;
      }
    }
  }

  .monospace {
    font-family: monospace;
  }

  .component {
    @extend .monospace;
    text-align: center;
    box-shadow: initial;

    &.red {
      color: #c82506;
    }
  }

  .citation {
    font-size: 20px;
    color: #000;
    margin-top:-20px;
  }

  pre {
    font-size: .6em;
    width: auto;
    max-height: 560px;

    &.small {
      font-size:.5em;
    }

    code {
      max-height: 560px;

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
  }

  .center {
    text-align: center;
    img {
      margin: 0 15px;
      vertical-align: middle;
    }
  }

  .vertical {
    vertical-align: middle;
  }

}


.fill {
  width: 100%;
  height: 100%;
}
