section
  img.large(src="https://media.giphy.com/media/brGJn738IBzzy/giphy.gif")
  h1 Thank You!
  h3 Follow me! @sheetsj
  a(href="https://media.giphy.com/media/brGJn738IBzzy/giphy.gif" target="_blank").citation https://media.giphy.com/media/brGJn738IBzzy/giphy.gif